.primary{
    color: brown;
}

.primary1{
    color:orange;
}

.font-xl{
    font-size: 20px;
}

.font-style{
    font-style:italic;
}

.form-container {
    display:list-item;
    align-items: center;
  }
  
  .form-container label {
    margin-right: 10px; /* Adjust the spacing between the labels and inputs */
  }